{{! I'm the 'conversation-details' partial.
My job is to display the
details of the conversation
e.g., profile picture, username,
timestamp, message text preview
 }}

{{!--
TODO:
    [ ]: use a list item tag <li> to wrap the details
    [ ]: use a div to divide the li into 3 columns
            (profile pic, message content, delete icon)
    [ ]: the profile pic should have a div with an img tag
            the img tag's src should reference the user's image src="/images/{{pfp}}"
    [ ]: the message content should have the: username, timestamp & message text
    [ ]: and the last column should have a div with the delete icon center-aligned
 --}}
<li class='list-group-item'>
  {{!-- {{#each this}} --}}

  {{#each}}
  <div class='row'>
    <div class='col-2 avatar'>
      {{!-- <img src="/images/{{pfp}}"> --}}
    </div>

    <div class='col-8 message-content'>
      <div class='d-flex w-100 space-between'>
        <span class='fw-bold fs-4'>{{conversation.conversation_name}}</span>
        <span>{{formatTime conversation.updated_at}}</span>
      </div>
      <p>
        {{getLastMessage conversation.messages}}
        -
        <span class='title fw-bold fs-6'>{{getLastMsgUsername
            conversation.messages
          }}</span>
      </p>
    </div>
<<<<<<< HEAD
    <div class='deletebtn'>
      <button type='submit' class='delete-btn'><i
          class='fa fa-trash'
=======
    <div class='col-1 deletebtn'>
      <button type='button' class='btn btn-secondary delete-btn'><i
          class='bi bi-trash'
>>>>>>> f47a92144e959f8370befac75f6de569aef6e981
        ></i></button>
    </div>
  </div>
  {{!-- {{/each}} --}}
</li>
