<li class='list-group-item'>
  <div class='row justify-content-between'>
    <div
      class='col-1 avatar d-flex align-items-center justify-content-center mx-2'
    >
      <img
        class='border rounded-circle'
        style='height: 48px'
        src='/images/{{getLastMsgUserPfp conversation.messages}}'
      />
    </div>

    <div class='col-8 col-md-9 message-content'>
      <a
        href='conversations/{{conversation_id}}'
        style='text-decoration: none; color: #444;'
      >
        <div class='d-flex w-100 justify-content-between'>
          <span class='fw-bold fs-6'>{{conversation.conversation_name}}</span>
          <span>{{formatTime conversation.updated_at}}</span>
        </div>
        <p class='fw-light fst-italic btn bg-light'>
          {{getLastMessage conversation.messages}}
          -
          <span class='title fw-bold fs-8'>{{getLastMsgUsername
              conversation.messages
            }}</span>
        </p>
      </a>
    </div>
    <div
      class='col-1 deletebtn d-flex align-items-center justify-content-center'
    >
      <button
        type='button'
        class='btn text-secondary delete-btn'
        data-delete-btn
        data-cid='{{conversation_id}}'
      ><i class='bi bi-trash'></i></button>
    </div>
  </div>
</li>
